# Copy this file to .env and update values as needed

# Bookmark Service Configuration
APP_PORT=8080
SERVICE_NAME=bookmark-service
INSTANCE_ID=
APP_HOST_NAME=/api/bookmark_service

# Redis Configuration
REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DATABASE=0


